:root {
  --bs-primary: #00425a;
  --bs-secondary: #fc7300;
  --bs-third: #dadada;
  --bs-background: #f9f9f9;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--bs-background);
}

h1 {
  color: var(--bs-primary);
}

#mainFaq {
  background-color: var(--bs-primary);
}

#bantuan {
  background-color: var(--bs-primary);
}

#snk {
  background-color: var(--bs-secondary);
}

#rating {
  background-color: var(--bs-secondary);
}

.tanya {
  background-color: var(--bs-third);
}

.jawab {
  background-color: var(--bs-secondary);
}

.tnc {
  background-color: var(--bs-background);
}
