:root {
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
}

h1 {
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  background: #ececec;
}

/* Main Container */
.kotakUtama {
  padding: 30px;
}

/* Login Container */
.boxArea {
  width: 930px;
}

/* Left box */
.leftBox {
  background: var(--bs-primary);
  padding: 40px 30px 40px 40px;
}

.leftBoxForgot {
  background: var(--bs-secondary);
  padding: 40px 30px 40px 40px;
}

.gambarLogin {
  width: 250px;
}

.leftText {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

small {
  width: 17rem;
}

/* Right box */
.logoG {
  width: 20px;
}

/* Custom placeholder */
::placeholder {
  font-size: 14px;
  font-style: italic;
}
